body {
    font-family: sans-serif;
    background-color: #ffcc80;
}

h1{
    text-align: center;
    background-color: #cc7a00;
    border-radius: 8px;
    

}

img {
    border-radius: 20px;
    display: flex;
    
    
}

p {
    color: #BF7330;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: "150";
    font-weight: bolder;

}
img {
 width: 280px;
}
ul  {
    list-style: square;
    color: #A67700;
    font-weight: bold;

}

span { 
    color: #A62800;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bolder;
    
    
}


.cart {
    display: flex;
}
